:root {
  /* colors */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;

  background: var(--light-grayish-blue);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}